@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');



header {
    background-color: #22242e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

li, a {
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

header h1 {
    padding-left: 4em;
    color: #0088a9;
    font-size: 3em;
    font-weight: bold;
    font-family: "Monserrat", sans-serif;
}

body {
    background-color: #d4d6e0;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(./assets/ImgPeliculas.jpg);
}

header .bi {
    color: brown;
    margin-right: 0.4em;
}


#nav--links li {
   display: inline-block;
   padding-right: 2em;

}

#nav--links li a {
    transition: 0.5s;
}

#nav--links li a:hover {
    color: #0088a9;
}

#home {
    display: block;
    width: 50px;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 5px;
 
}


#contai-origen-cine {
    justify-content: space-between;
    margin-top: 4em;
    display: flex;
    flex-direction: row;
}

#contai-origen-img {
    width: 50%;
}

#img-origen-cine {
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.display-6 {
    color: rgb(51, 115, 172);
}

#contai-origen-texto {
    padding-left: 2em;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#button-cine {
    color: #0088a9;
    border: 2px #0088a9 solid;
    padding: 1em 0em 1em 5.5em;
    margin: 0em 35em 0em 16em;
    border-radius: 25px;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

#button-cine:hover {
    background-color: rgb(13, 32, 157);
    color: aliceblue;
    border: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.text-cine {
    color: aliceblue;
    font-family: "Monserrat", sans-serif;
    font-size: large;
}